.rightMouseMenuBox {
  position: absolute;
  width: 220px;
  height: auto;
  border: 1px solid #555;
  border-radius: 3px;
  background: $right-mouse-menu-background;
}

.item {
  display: flex;
  padding: 4px 15px;
  cursor: pointer;
  user-select: none;
  &:hover {
    background: $hover-background2;
  }
}

.name {
  display: flex;
  flex-grow: 1;
}

.bottom {
  border-bottom: 1px solid #555;
}

.icon {
  margin-right: 12px;
}

.keyboard {
  color: #555;
}
