$primary-color: red;

$desk-background1: rgba(32, 32, 32, 0.75);
$desk-background2: rgba(255, 255, 255, 0.1);

$hover-background1: rgba(255, 255, 255, 0.25);

$window-border-color: #555;
$window-header-height: 32px;
$window-background: #303030;

$border-color1: #eee;

$scrollbar-thumb1: #999;

$start-tools-bar-height: 48px;

$start-menu-width: 600px;
$start-menu-height: 550px;

:export {
  startToolsBarHeight: $start-tools-bar-height
}
