.startMenuBox {
  position: absolute;
  bottom: 48px;
  left: 0;
  display: flex;
  flex-direction: row;
  width: $start-menu-width;
  height: $start-menu-height;
  color: #fff;
  background: $desk-background1;
  backdrop-filter: saturate(3) blur(20px);
}
