.startToolsBar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 48px;
  background: var(--bg1);
  backdrop-filter: saturate(3) blur(20px);

  --bg1: rgb(32 32 32 / 75%);
  --bg2: rgb(255 255 255 / 10%);
}

.startToolsContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startTools {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 200ms;
}

.startIcon {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  padding: 7px;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background: var(--bg2);
  }
}

.startIconImg {
  width: 24px;
  height: 24px;
}
